/* Detail */

body {
    background: linear-gradient(to bottom, #f0f4f8, #ffffff); /* Dégradé léger */
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1.1rem;
    color: #333;
}



